<%# I am not sure if this belongs here or not, I reckon it doesn't. %>
<% username = @user.username %>
<% hosted_events = @user.hosted_events %>
<%# Although @user.attended_events is of class Event::ActiveRecord_Associations_CollectionProxy %>
<%# Event::ActiveRecord_Associations_CollectionProxy inherits from Relation, which allows me to call the scopes %>
<% future_events = @user.attended_events.future %>
<% past_events = @user.attended_events.past %>

<h1><%= username %>'s profile</h1>

<section class= "hosted-events">
    <h2>Hosted events</h2>
    <% if hosted_events.empty? %>
        <p><%= username %> does not have any hosted events.</p>
    <% else %>
        <%= render partial:'application/event', collection: hosted_events %>
    <% end %>
</section>

<section class= "future-attended-events">
    <h2>Events to attend</h2>
    <% if future_events.empty? %>
        <p><%= username %> does not have any events to attend.</p>
    <% else %>
        <%= render partial:'application/event', collection: future_events %>
    <% end %>
</section>

<section class="past-attended-events">

    <h2>Attended events</h2>
    <% if past_events.empty? %>
        <p><%= username %> did not attend any event in the past.</p>
    <% else %>
        <%= render partial:'application/event', collection: past_events %>
    <% end %>
</section>



