<h1><%= @user.username %>'s profile</h1>

<section class= "hosted-events">
    <h2>Hosted events</h2>
    <% if @user.hosted_events.empty? %>
        <p><%= @user.username %> does not have any hosted events.</p>
    <% else %>
        <%= render partial:'application/event', collection: @user.hosted_events %>
    <% end %>
</section>

<section class= "attended-events">
    <h2>Attended events</h2>
    <% if @user.attended_events.empty? %>
        <p><%= @user.username %> does not have any attended events.</p>
    <% else %>
        <%= render partial:'application/event', collection: @user.attended_events %>
    <% end %>
</section>



