<% if user_signed_in? %>
    <section class="user_options">
        <% if current_user == @event.creator %>
            <%= button_to("Delete event", event_path, {method: :delete, params: { event: @event.id}} ) %>
        <% elsif @event.attendees.include?(current_user) %>
            <%= button_to("Decline attendance", invitation_path, {method: :delete, params: { event: @event.id}} ) %>
        <% else %>
            <%= button_to("Join this event", invitation_path, params: { event: @event.id}) if @event.datetime.future? %>
        <% end %>
    </section>
    <hr>
<% end %>

<section class="event">
    <h4 class="title"><%= @event.title %></h4>
    <p class="description"><%= @event.description %></p>
    <p class="creator">Host: <%= link_to(@event.creator.username, user_path(@event.creator.username))%></p>
    <p class="datetime-and-location"><%= @event.datetime %>, at <%= @event.location %></p>
    
    <h5 class="attendees-heading">Attendees</h5>
    <% if @event.attendees.empty? %>
        <p>There are no attendees.</p>
    <% else %>
        <ol>
            <% @event.attendees.each do |attendee| %>
                <li><%= attendee.username %></li>
            <% end %>
        </ol>
    <% end %>
</section>
